body {
	background-color: #ffffff;
}

.main-contents {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 20px;
	margin-right: 20px;
	background-color: #ffffff;
	height: 100%;
 	width: 60%;
  	margin-right: auto;
 	 margin-left: auto;
	width: 800px;
	padding:30px 0px 0px;
}

.name h2{
	background: #c2edff;/*背景色*/
	padding: 0.5em;/*文字まわり（上下左右）の余白*/
}

.padding{
    border: 1px solid #aaa;
    padding: 20px 40px;
}


.search {
	padding: 0.5em 1em;
    margin: 2em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;/*角の丸み*/
}


.form-area{
	  margin-right: auto;
 	 margin-left: auto;
 	 width: 800px;
}
.signup{
	 margin-right: auto;
 	 margin-left: auto;
 	 width: 800px;
 	 padding:30px 0px 0px;
}

.title{
	border-bottom: double 5px #c0c0c0;
	/*線の種類（二重線）太さ 色*/
	font-size: 1.5em;

}

.logout{
	margin-left:400px;
}

.header {
	z-index:2;
	position: fixed;
	text-align: left;
	background-color: #ffffff;
	top: 0px;
	width:100%;                /* 横の幅を100% */
}




input.messageTitle {
	width: 50%;
	height: 2em;
}

input.messageCategory{
	width: 35%;
}

.comments {
	padding: 0.5em 1em;
    margin: 1em 0;
    background: #ffffff;
    border-left: solid 6px #ffacac;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
    font-size: 0.8em;
}

.category{
	text-align: left;
	font-size: 1.2em;
}

.id{
	font-size: 0.8em;
}

.profile {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	height: 100px;
}

.profile .profile-image {
	float: left;
}

.main-contents h2 {
	background: #c2edff;/*背景色*/
	padding: 0.5em;/*文字まわり（上下左右）の余白*/

}

a.profile .account {
	font-size: 13px;
	line-height: 22px;
}

.profile .description {
	font-size: 13px;
	line-height: 22px;
}

.form-area {
	margin-top: 00px;
	margin-right: 00px;
	margin-bottom: 00px;
	margin-left: 00px;
	background-color: #ffffff;
}

.form-area h2{
	background: #c2edff;/*背景色*/
	padding: 0.5em;/*文字まわり（上下左右）の余白*/
}
.signup.name h2{
	background: #c2edff;/*背景色*/
	padding: 0.5em;/*文字まわり（上下左右）の余白*/
}

.message-icon {
	border-bottom-style: ridge;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	height: 80px;
}

.message-icon .icon {
	margin-top: 1px;
	margin-right: 1px;
	margin-bottom: 1px;
	margin-left: 1px;
	float: left;
}

.message-icon .text {
	height: 40px;
}

.message-icon .message {
	margin-left: 60px;
}

.message-icon .account-name {
	margin-top: 1px;
	margin-bottom: 5px;
}

.message-icon .account-name .account {
	font-weight: bold;
}

.account-name .name {
	font-weight: lighter;
	color: gray;
	font: small-caption;
	background-color: #ff8080;
}

.message .date {
	font-weight: lighter;
	color: gray;
	font: small-caption;
}

.copyright {
	width: 250px;
	margin: 0 auto;
}


.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}

.messages{
		z-index:1;
	 position: relative;
	 margin: 3em auto;
	 padding: 2em 1em 1em;
	 width: 90%;
	 border: 1px solid #e6ffff; /*枠太さ・色*/
	 color: #333;/* 文字色 */
	 background-color: #ffeeff; /*枠背景色*/
}

.messages:before {
 position: absolute;
 top: -1.5em;
 left: 40%;
 height: 40px;
 width: 100px; /*テープの幅*/
 content: "";
 background-color: #9932cc; /*テープの色*/
 opacity: 0.1; /*テープ透明度0～1*/
 transform: rotate( -8deg ); /*テープ角度*/

}



.managements{
	margin-right: auto;
 	 margin-left: auto;
 	 width: 800px;

}
.managements th, .managements td {
  border: 1px solid gray;
}


.managements th{
	background: #fff5e5;/*背景色*/
}

.errorComments{
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: red;
}


.square_btn{
    display: inline-block;
    padding: 0.3em 0.8em;
    text-decoration: none;
    color: #67c5ff;
    border: dashed 1px #67c5ff;
    background: #f2fcff;
    border-radius: 3px;
    transition: .4s;
}

.square_btn:hover {
    background: #cbedff;
    color: #FFF;
}



.logout_btn{
	display: inline-block;
    padding: 0.3em 0.8em;
    text-decoration: none;
    color: #ffaaaa;
    border: dashed 1px #ffaaaa;
    background: #ffe6e6;
    border-radius: 3px;
    transition: .4s;
}

.logout_btn:hover{
	background: #ffc1c1;
    color: #FFF;
}


.setting_btn{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #00bcd4;
    transition: .4s;
  }

.setting_btn:hover {
    background: #1ec7bb;
}


.settingBotan{
	text-align: center;
}

.is_deleted{
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;
}

.is_deleted>span {
    border-bottom: solid 2px #FFF;
}

.is_deleted:hover {
    background: #91b5fb;
}

.misadiComment{
   font-size: 0.8em;/* 文字の大きさ */
    font-weight: bold;/* 文字の太さ */
    color: #5C4747;/* 文字の色 */
    border-bottom: 1px dashed #ec9fdd;/* 文字下の点線の太さ・種類・カラー */
    margin: 0 0 1.2em;
    padding: 0.2em 0 0 1.4em;
    position: relative;
}
.misadiComment:before{
    background: #d48789;/* 左上四角部分の色 */
    top: 0;/* 左上四角部分の位置 */
    left: 0.5em;/* 左上四角部分の位置 */
    height: 10px;/* 左上四角の大きさ */
    width: 10px;/* 左上四角の大きさ */
    position: absolute;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    content: "";
}
.misadiComment:after{
    background:#d26466;/* 左下四角部分の色 */
    top: 0.8em;/* 左下四角部分の位置 */
    left: 0.2em;/* 左下四角部分の位置 */
    height: 5px;/* 左下四角の大きさ */
    width: 5px;/* 左下四角の大きさ */
    position: absolute;
    transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    content: "";
}


.revival{
	text-align: center;
	color:#ff0080;
	font-weight: bold;
}

.revivalText{
	text-align: center;
	color:#ff0080;
	font-weight: bold;
	margin-right:5px;
}

.is_deletedBtn{
	text-align: center;
}
.is_deletedText{
	text-align: center;
	color:#808080;
	margin-right:5px;

}

.loginText{
	text-align: center;
	color:#808080;
	font-weight: bold;
}

.hissu{

	color: #ff8080;/*文字色*/
	border: solid 1px #ff8080;/*線色*/
	padding: 0.1em;/*文字周りの余白*/
	border-radius: 0.3em;/*角丸*/
	display: inline-block;
	font-size: 10px;
	margin-left:5px;
}
.comment_btn{
	position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 7px 10px 10px 10px;
    text-decoration: none;
    color: #FFF;
    background: #a180dc;
    transition: .4s;

}

.comment_btn>span {
    border-bottom: solid 2px #FFF;
}

.comment_btn:hover {
    background: #91b5fb;
}

.comment_hidden{
	display:none;
}

.comenntpost_btn{
	 width: 40px;
    height: 20px;
    font-size:10;
    margin-right: auto;
 	margin-left: auto;
    //padding: 0.8px 10px 10px 7px;
}
/* /* //.deleteMessage_btn{
	 width: 150px;
    height: 50px;
 */ */

}
